<div class="container mt-5">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <h2 class="text-center">商品一覧</h2>
      <div class="text-right">
        <%= link_to "商品新規登録", admin_items_new_path, class:"btn btn-danger rounded-pill mb-4" %>
          <table class="table table-hover">
            <thead class="table-secondary">
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td><%= item.id %></td>
                <td><%= link_to item.name, admin_update_item_path(item) %></td>
                <td><%= item.price %>円</td>
                <td><%= item.genre.name %></td>
                <% if item.is_active == true %>
                <td class="scolor1">販売中</td>
                <% else %>
                <td class="scolor2">販売停止中</td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>